nav {
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	width: 40%;
}
.navitems {
	margin: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	width: 100%;
}
.link-item {
	padding-top: 10px;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	text-decoration: none;
}

.link-item-active {
	font-weight: bold;
}

/* Mobile Styles */
@media only screen and (max-width: 649px) {
	.navitems {
		padding-top: 40px;
		margin: 0px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 100%;
	}
}

/* Tablet Styles */
@media only screen and (min-width: 650px) and (max-width: 1400px) {
	nav {
		width: 100%;
	}
}
/* Desktop Styles */
@media only screen and (min-width: 1401px) {
}
